# Maven
target/
pom.xml.versionsBackup
pom.xml.backup*
pom.xml.bak*

# IDE
.settings/
.classpath
.project
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
full-error.log
e2e-profile.txt

# Test reports
*.dump
*.dumpstream

# Other
*.class
